.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: normal;
  }
  
  .nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .auth-buttons .btn {
    background-color: transparent;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .auth-buttons .signup {
    background-color: transparent;
    padding: 8px 16px;
    margin-left: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  